

/* class */
.frame
{
	margin: 10px 5px;
	padding: 10px 5px;
	border:solid 2px;
	border-color: silver;
	border-radius: 4px;
	background-color: #FFFFEE;
	color: indigo;
}

.colorButton
{
	border-radius: 2px;
}

.generatorButton
{
	
}

.oNameText
{
	width:240px;
}

.counterText
{
	text-align: left;
}

.buy1button
{

}

/* id */
#title
{
	text-align: center;
}

#redEssence
{
	color: #c6001c;
	border:solid 2px red;
}

#orangeEssence
{
	color: #E67928;
	border:solid 2px;
}

#yellowEssence
{
	color: #E3C700;
	border:solid 2px;
}

#greenEssence
{
	color: #00B66E;
	border:solid 2px;
}

#blueEssence
{
	color: #006AB6;
	border:solid 2px;
}

#indigoEssence
{
	color: #134A63;
	border:solid 2px;
}

#purpleEssence
{
	color: #7C4B8D;
	border:solid 2px;
}

/* generator */
#redGenerator
{
	color: #c6001c;
	border:solid 2px red;
}

#orangeGenerator
{
	color: #E67928;
	border:solid 2px;
}

#yellowGenerator
{
	color: #E3C700;
	border:solid 2px;
}

#greenGenerator
{
	color: #00B66E;
	border:solid 2px;
}

#blueGenerator
{
	color: #006AB6;
	border:solid 2px;
}

#indigoGenerator
{
	color: #134A63;
	border:solid 2px;
}

#purpleGenerator
{
	color: #7C4B8D;
	border:solid 2px;
}