

/* class */
.frame
{
	margin: 10px 5px;
	padding: 10px 5px;
	border:solid 2px;
	border-color: silver;
	border-radius: 4px;
	background-color: #FFFFEE;
	color: indigo;
}

.colorButton
{
	border-radius: 2px;
}

.oNameText
{
	width:200px;
}

.counterText
{
	text-align: right;
}

.buy1button
{
	width:100px;
}

/* color Text */
.redText
{
	color: #c6001c;
}

.orangeText
{
	color: #E67928;
}

.yellowText
{
	color: #E3C700;
}

.greenText
{
	color: #00B66E;
}

.blueText
{
	color: #006AB6;
}

.indigoText
{
	color: #134A63;
}

.purpleText
{
	color: #7C4B8D;
}

/* id */
#title
{
	text-align: center;
}